<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="frag-sidebar">
    <div class="sidebar">
        <div class="wrapper share-box">
            <div class="heading"><h4>Share this page</h4></div>
            <div class="content">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-square-facebook"></i><span>Share on Facebook</span></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-twitter"></i><span>Share on Twitter</span></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-google-plus"></i><span>Share on Google+</span></a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper viral-box">
            <div class="heading" th:if="${advertisement != null}">
                <h4 th:if="${advertisement.title != null}" th:text="${advertisement.title}"></h4>
            </div>
            <div class="content" th:if="${advertisement != null}">
                <p th:if="${advertisement.content != null}" th:text="${advertisement.content}"></p>
                <div class="bottom">
                    <a th:if="${advertisement.link != null and advertisement.link != null}"
                    th:href="${advertisement.link}" class="btn btn-block" th:text="${advertisement.buttonText}"></a>
                    <a th:if="${advertisement.link != null and advertisement.link == null}"
                    th:href="${advertisement.link}">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>