<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chauffeur Services Home Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container-fluid site-wrapper">
        <!-- Header -->
        <div th:replace="fragments/header :: frag-header('home')"></div>
    
        <!-- Content -->
        <div class="container-fluid content-wrapper" id="content">
            <div class="container">
                <div class="row-fluid content-inner">
                    <div id="left" class="span9">
                        <div class="wrapper">
                            <div class="content">
    
                                <!-- Banner Image -->
                                <div class="section article">
                                    <div class="content">
                                        <div class="img-simple span12">
                                            <div class="image">
                                                <img th:src="${intro.imageUrl}" alt="Intro Image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- Intro Text -->
                                <div class="section article" th:if="${intro != null}">
                                    <div class="heading">
                                        <h3 th:text="${intro.title}">Intro Title</h3>
                                    </div>
                                    <div class="content">
                                        <p><span th:text="${intro.content}">Intro content here</span></p>
                                    </div>
                                </div>
    
                                <!-- About Us -->
                                <div class="section article" th:if="${about != null}">
                                    <div class="heading">
                                        <h3 th:text="${about.title}">About Us</h3>
                                    </div>
                                    <div class="content">
                                        <div class="img-simple span6 pull-right">
                                            <div class="image">
                                                <img th:src="${about.imageUrl}" alt="About Image">
                                            </div>
                                        </div>
                                        <p><span th:text="${about.content}">About content here</span></p>
                                    </div>
                                </div>
    
                                <!-- Promotions -->
                                <div class="section">
                                    <div class="content">
                                        <ul class="thumbnails column-article-section">
                                            <li class="span4" th:each="promo : ${promotions}">
                                                <div class="img-simple span12">
                                                    <div class="image">
                                                        <img th:src="${promo.imageUrl}" th:alt="${promo.title}">
                                                    </div>
                                                </div>
                                                <h4 th:text="${promo.title}">Title</h4>
                                                <p th:text="${promo.description}">Description</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
    
                    <!-- Sidebar -->
                    <div id="right" class="span3">
                        <div th:replace="fragments/sidebar :: frag-sidebar"></div>
                    </div> 
                </div>
            </div>
        </div>
    
        <!-- Footer -->
        <div th:replace="fragments/footer :: frag-footer"></div>
    </div>
</body>
</html>
